
:root {
  --green : #06D6A0; 
  --red : #EF476F; 
  --yellow : #FFD166; 
  --blue : #118AB2; 
  --navy : #073B4C; 
}

.j1-modale {
  display: none;
}

.j2-modale {
  display: none;
}

.game-modale {
  display: none;
}

.result-modale {
  display: none;
}

.btn-start-game {
  border : none; 
  padding : 2em; 
  border-radius: 15px; 
  font-weight: bold;
  color : white; 
  background-color: var(--green);
}