/* Colors setting */

:root {
  --green: #06d6a0;
  --red: #ef476f;
  --yellow: #ffd166;
  --blue: #118ab2;
  --navy: #073b4c;
}

/* Game screens */

.j1-modale {
  display: none;
  background-color: var(--green);
}

.j2-modale {
  display: none;
  background-color: var(--red);
}

.game-modale {
  display: none;
  background-color: var(--navy);
}

.result-modale {
  display: none;
  background-color: var(--blue);
}


.congratulation{
  display: none;
  background-color: var(--green);
}
/* Button style  */

.btn-start-game {
  border: none;
  padding: 2em;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--green);
  box-shadow: 6px 10px 8px 3px rgba(0, 0, 0, 0.4);
}

.btn-start-game:hover {
  animation: rubberBand;
  animation-duration: 1s;
  --animate-repeat: 1;
}

.btn-j1 {
  border: none;
  padding: 2em;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--yellow);
  box-shadow: 6px 10px 8px 3px rgba(0, 0, 0, 0.4);
}

.btn-j1:hover {
  animation: rubberBand;
  animation-duration: 1s;
  --animate-repeat: 1;
}

.btn-j2 {
  border: none;
  padding: 2em;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--blue);
  box-shadow: 6px 10px 8px 3px rgba(0, 0, 0, 0.4);
}

.btn-j2:hover {
  animation: rubberBand;
  animation-duration: 1s;
  --animate-repeat: 1;
}

.btn-result {
  border: none;
  padding: 2em;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--red);
  box-shadow: 6px 10px 8px 3px rgba(0, 0, 0, 0.4);
}

.btn-result:hover {
  animation: rubberBand;
  animation-duration: 1s;
  --animate-repeat: 1;
}

.btn-next-match {
  border: none;
  padding: 2em;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--red);
  box-shadow: 6px 10px 8px 3px rgba(0, 0, 0, 0.4);
}

.btn-new-game {
  border: none;
  padding: 2em;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  background-color: var(--yellow);
  box-shadow: 6px 10px 8px 3px rgba(0, 0, 0, 0.4);
}

.btn-new-game:hover {
  animation: rubberBand;
  animation-duration: 1s;
  --animate-repeat: 1;
}

/* Assets for players choices */

.j1-rock {
  width: 15em;
}

.j1-rock:hover {
  animation: shakeY;
  animation-duration: 2s;
  --animate-repeat: 1;
}

.j1-paper {
  width: 15em;
}

.j1-paper:hover {
  animation: shakeY;
  animation-duration: 2s;
  --animate-repeat: 1;
}

.j1-scissors {
  width: 15em;
}

.j1-scissors:hover {
  animation: shakeY;
  animation-duration: 2s;
}

.j2-rock {
  width: 15em;
}

.j2-rock:hover {
  animation: shakeY;
  animation-duration: 2s;
  --animate-repeat: 1;
}

.j2-paper {
  width: 15em;
}

.j2-paper:hover {
  animation: shakeY;
  animation-duration: 2s;
}

.j2-scissors {
  width: 15em;
}

.j2-scissors:hover {
  animation: shakeY;
  animation-duration: 2s;
  --animate-repeat: 1;
}

/* Containers for assets in the fight screen  */

.j1-choice-container {
  width: 10em;
}

.j2-choice-container {
  width: 10em;
}

.explosion-img {
  height: 8em;
  animation: pulse;
  animation-duration: 3s;
}

.rock-fight-animation {
  animation: backOutRight;
  animation-duration: 3s;
  width: 15em;
}

.paper-fight-animation {
  animation: fadeOutUp;
  animation-duration: 3s;
  width: 15em;
}

.scissors-fight-animation {
  animation: rotateOutUpLeft;
  animation-duration: 3s;
  width: 15em;
}

/* Style for the result screen  */

.score-message {
  font-size: 3em;
  font-weight: bold;
  color: white;
}

.img-result {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 60%;
  animation: fadeIn;
  animation-duration: 2s;
}

.player-one-score {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
  background-color: var(--navy);
  padding: 0.5em;
  border-radius: 15px;
}

.player-two-score {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
  background-color: var(--navy);
  padding: 0.5em;
  border-radius: 15px;
}

.result-text {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.congratulation-text{
  text-align: center;
  color : black; 
  font-size: 1.6em;
  font-weight: bold;
  background-color: var(--yellow);
  padding: 1em; 
  width : 80%; 
  border-radius: 15px;
 
}

@media screen and (min-width: 546px) {
  .img-result {
    margin-top: 0em;
    margin-bottom: 0em;
    width: 30%;
  }

  .explosion-img {
    height: 20em;
    animation: pulse;
    animation-duration: 3s;
  }

  .j1-choice-container {
    width: 20em;
  }

  .j2-choice-container {
    width: 20em;
  }
}
